a.cta_button {
    max-width: 100%;
}

.cta {
	appearance: none;
    display: inline-block;
    padding: 9px 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    min-width: 182px;
    font-size: rem(18);
    font-weight: 700;
    font-family: $font_body;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box !important;
    background-color: grey;
    color: #fff;
    font-stretch: normal;
    line-height: normal;
    margin: 10px 0px;
    border: 1px solid transparent;
    &:active,
    &:focus {
        text-decoration: none;
    }
     @media(max-width: 767px){
        font-size: rem(16);
        padding: 6px 10px;
        min-width: 161px;
    }
    &--primary {
    	color: #fff;
    	background-color: hubl("$first_color");
    	border-color: hubl("$first_color");
    	&:hover{
    		background-color: #fff;
    		color: hubl("$first_color");
    	}
    }

    &--secondary {
		color:hubl("$font_color");
		background-color: #fff;
    	border-color: hubl("$font_color");
    	&:hover{
    		background-color: hubl("$font_color");
    		color: #fff;
    	}
    }

    &--tertiary {
    	color:#fff;
		background-color: transparent;
    	border-color: #fff;
    	&:hover{
    		background-color: #fff;
    		color: hubl("$font_color");
    	}
    }
    &--phone{
        font-size: 17px;
        font-weight: bold;
        color: hubl("$font_color");
        background-color: transparent;
        min-width: auto;
    }
    &--read-more{
    	border: solid 1px hubl("$font_color");
    	background-color: #fff;
    	color: hubl("$font_color");
    	min-width: 153px;
    	&:hover{
    		background-color: hubl("$font_color");
    		color: #fff;
    	}
    }
}