footer.footer {
    color: #fff;
    .follow_us{
			li{
				display: inline-block;
				margin-bottom: 7px;
				margin-right: 5px;
				&:last-child{
					margin-right: 0px;
				}
				&:before{
					display: none;
				}
				a{
                    display: inline-block;
					width: 49px;
					overflow: hidden;
				  	height: 49px;
				  	border: 1px solid #ffffff;
				  	border-radius: 50%;
				  	text-align: center;
				  	color: #fff;
				  	&:hover{
				  		// opacity: 0.7;
				  		background-color: hubl("$first_color");
				  		border-color: hubl("$first_color");
				  	}
				  	i{
				  		line-height: 49px;
				  		font-size: 30px;

				  	}
				  	&.facebook{
				  		i{
				  			font-size: 37px;
				  			transform: translateY(5px) translateX(4px);
				  		}
				  	}
				  	&.twitter{
				  		i{
				  			transform: translateX(1px);
				  		}
				  	}
				  	&.linkedin{
				  		i{
				  			font-size: 28px;
				  		}
				  	}
				}
			}
        }

    .top {
        background-color: hubl("$dark_color");
        padding: 50px 0px 30px 0px;
        .container {
            text-align: left;
            margin: 0 auto!important;
            display: flex;
            justify-content: space-between;
            float: none;
            flex-wrap: wrap;
            >div {
                max-width: 265px;
                width: 23%;
                margin-bottom: 20px;
                &.mobile-active-wrapper {
                    display: none;
                    @media(max-width: 767px){
                    	display: block;
                    }
                }

                > div {
                    padding-right: 20px;
                }
                @media(max-width: 1024px) {
                    width: 48%;
                    max-width: 400px;
                }
                @media(max-width: 870px) {
                    
                    max-width: 380px;
                }
                @media(max-width: 767px) {
                	width: 100%;
                	max-width: 100%;	
                    margin-bottom: 0px;
                    text-align: center;
                    >div>div:not(.mobile-stay) {
                        display: none;
                    }
                    >div>div{
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .widget-type-text {
            span {
                font-size: 18px;
                font-weight: bold;
                line-height: 1.1;
                min-height: 40px;
                display: inline-block;
            }
        }
        .hs-menu-wrapper {
            ul {
                padding-left: 0px;
                li {
                    padding-left: 0px;
                    &:before {
                        display: none;
                    }
                    a {
                        padding: 7px 0px;
                        color: #fff;
                        font-size: 14px;
                        word-break: break-word;
                        hyphens: auto;
                        white-space: normal;
                        display: block;
                        &:hover{
                        	color: rgba(255, 255, 255, 0.6);
                        }
                    }
                }
            }
        }
        .mobile-active{
            .widget-type-text {
                span {
                    min-height: 0;
                }
            }
            .widget-type-rich_text{
                padding-top: 7px;
                margin-bottom: 55px;
                p,span{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .cta{
                    margin: 0px;
                }
            }
        }
    }
    .bottom {
        background-color: #585858;
        padding: 20px 0px;
        .container {
            align-items: center;
            margin: 0 auto!important;
            display: flex;
            justify-content: space-between;
            float: none;
            flex-wrap: wrap;
            > div{
            	@media(max-width: 767px) {
                    width: 100%;
                    text-align: center;
                }
                
            }
        }
        .follow_us{
			li{
				margin-bottom: 0px;
			}
			@media(max-width: 767px){
				display: none;
			}
		}
        .hs-menu-wrapper {
            ul {
                padding-left: 0px;
                display: block;
                display: flex;
                margin-bottom: 0px;
                @media(max-width: 767px) {
                	text-align: center;
                	display: inline-block;
                	padding-bottom: 10px;
                }
                li {
                    padding-left: 0px;
                    margin-right: 25px;
                    @media (max-width: 568px){
                    	display: inline-block;
                    	width: auto;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    &:before {
                        display: none;
                    }
                    a {
                        padding: 0px;
                        color: rgba(255, 255, 255, 0.3);
                        font-weight: bold;
                        font-size: 13px;
                        word-break: break-word;
                        hyphens: auto;
                        white-space: normal;
                        display: block;
                        @media (max-width: 568px){
	                    	display: inline-block;
	                    	width: auto;
	                    }
                        &:hover{
                        	color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }
        }
        .widget-type-text {
            span {
                padding: 0px;
                color: rgba(255, 255, 255, 0.3);
                font-weight: bold;
                font-size: 13px;
                word-break: break-word;
                hyphens: auto;
                white-space: normal;
                display: block;
            }
        }
    }
}



// LANDING 

footer.landing{
    .bottom {
        border-top: 1px solid #c7c5bd;
        background-color: #fff;
        color: #c7c5bd;
        .hs-menu-wrapper ul li a,
        .widget-type-text span{
              color: #c7c5bd;
        }
        .hs-menu-wrapper ul li a:hover{
                color: #000;
        }
        .hs-menu-wrapper ul{
            margin-bottom: 0px;
            display: flex;
            @media(max-width: 767px) {
                display: inline-block;
            }
            li{
                display: inline-block;
            }
        } 
    }
}