* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

script{
    display: none!important;
}
body {
    margin: 0;
    padding: 0;
    font-family: $font_body; 
    font-size: 16px;
    overflow-x: hidden;
    .body-container-wrapper{
        margin-top: 0;
        padding-top: 150px;
        transition: margin-top .3s ease-in-out;
        @media(max-width: 1300px) {
            padding-top:190px;
        }

        @media (max-width: 767px) {
            padding-top: 220px;
        }

        @media(max-width: 650px) {
            padding-top:184px;
        }
        @media (max-width: 400px){
            // padding-top: 64px;
        }
    }
    
}

.row-fluid [class*="span"] {
    min-height: 0;
}

.bg-color-wrapper{
    background-color: hubl("$light_color");
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 1160px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    &.no-padding-mobile{
        @media(max-width: 680px) {
            padding:0px;
        }

    }
}


.light-background{
    background-color: hubl("$light_color");
}

.dark-background{
    background-color:hubl("$dark_color");
}

.half-container {
    max-width: 585px;
    padding: 0 15px;
    width: 100%;
}

.slick-slider {
    margin-bottom: 0;
    .slick-track {
        margin-left: auto;
        margin-right: auto;
    }
}



br {
    @media (max-width: 400px) {
        // display: none;
    }
}



//IOS video 
video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

// IMG
img {
    max-width: 100%;
    height: auto;
}

// MAGNIFIC POPUP
.mfp-bg {
    background: #000;
    opacity: 0.9;
}

.mfp-wrap {
    .mfp-content {
        max-width: 1024px;
    }
}


// SLICK SLIDER

.slick-slider{

    .slick-arrow{
        width: 19px;
            display: block;
            height: 38px;
        &:before{
            content: '';
            width: 19px;
            display: block;
            height: 38px;
            background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-white.svg');
            background-position: center center;
            background-size: cover;
            top: 0;
            transform: translateY(0);
            opacity: 1;

        }
    }
    .slick-prev{
        z-index: 50;
        @media(max-width: 680px){
            left: 10px;
        }
    }
    .slick-next{
        z-index: 50;
        @media(max-width: 680px){
            right: 10px;
        }
        &:before{
            transform: rotate(180deg) translateY(0);
        }
    }

    .slick-dots {
            bottom: -30px;
            li {
                width: 10px;
                height: 10px;
                @media(max-width: 680px){
                    width: 7px;
                    height: 7px;
                }
                &:before {
                    display: none;
                }
                button {
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    &:before {
                        content: '';
                        
                        background-color:  #000;
                        border-radius: 50%;
                        opacity: 0.3;
                        
                            width: 7px;
                            height: 7px;
                        
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                             opacity: 1;
                        }
                    }
                }
            }
        }
}

.hs_cos_flex-slider {
    margin-bottom: 0px;

    .hs_cos_flex-control-nav {
        bottom: 20px;
        li {
            width: 12px;
            height: 12px;
            &:before {
                display: none;
            }
            a {
                width: 10px;
                height: 10px;
                padding: 0;
                background: transparent;
                box-shadow: none;
                text-indent: 0;
                font-size: 0;
                line-height: 0;
                color: transparent;
                &:before {
                    display: block;
                    content: '';
                    width: 10px;
                    height: 10px;
                    background-color: transparent;
                    border-radius: 50%;
                    opacity: 1;
                    border: 1px solid #fff;
                    transition: all .3s linear;
                }

            &.hs_cos_flex-active {
                &:before {
                    background-color: #fff;
                }
            }
            }

        }
    }


    .hs_cos_flex-direction-nav {
        position: absolute;
        top: 50%;
        width: 100%;

        .hs_cos_flex-prev, .hs_cos_flex-next {
            width: 19px;
            display: block;
            height: 38px;
            z-index: 40;
            opacity: 1;
            font-size: 0;
            line-height: 0;
            background: none;

            &:before{
                content: '';
                width: 19px;
                display: block;
                height: 38px;
                background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-white.svg');
                background-position: center center;
                background-size: cover;
                top: 0;
                transform: translateY(0);
                opacity: 1;

            }
        }
        .hs_cos_flex-prev {
            left: 20px;
            z-index: 50;
            @media(max-width: 680px){
                left: 10px;
            }
        }
        .hs_cos_flex-next {
            right: 20px;
            z-index: 50;
            @media(max-width: 680px){
                right: 10px;
            }
            &:before{
                transform: rotate(180deg) translateY(0);
            }
        }
    }
}