#menu-container {
    position: fixed;
    top: 150px;
    left: -100%;
    z-index: 999998;
    transition: 0.3s all;
    width: auto;
    min-width: 400px;
    transform: translateZ(0);
    @media (max-width: 767px) {
        top: 180px;
    }
    @media(max-width: 650px) {
        top:144px;
    }
    &.active {
        left: 0px;
    }
    @media(max-width: 435px) {
        width: 100%;
        min-width: 100%;
    }
    .core-main-menu {
        display: block!important;
        padding-top: 0px;
        background-color: #fff;
        height: 100vh;
        width: 400px;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    ul {
        overflow-y: auto;
        overflow-x: hidden;
        // -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: hubl("$first_color");
        }
        li {
            &:before {
                display: none;
            }
            a:not(.cta_button) {
                color: hubl("$font_color");
                font-family: $font;
                font-size: rem(28);
                font-weight: bold;
                white-space: pre-wrap;
                width: 100%;
                &:focus {
                outline: 0;
                }
                @media(max-width: 800px) {
                    font-size: rem(24);
                    border-bottom: 2px solid transparent;
                    padding: 5px 0px;
                }
                &:hover,
                {
                    color: hubl("$first_color");
                    @media(max-width: 435px) {
                        color: hubl("$font_color");
                    }
                }
            }
            .sub-active {
                >a:not(.cta_button) {
                    color: hubl("$first_color");
                }
            }
            &.hs-item-has-children {

                >a {

                    &:after {
                        content: '›';
                        margin-left: 5px;
                    }
                }
            }
            &.hs-item-has-children.hs-menu-depth-2.sub-active {

                >a:after {
                    display: inline-block;
                    content: '^';
                    transform: rotate(180deg);
                    margin-left: 3px;
                }
            }
        }
    }
    .hs-menu-wrapper>ul {
        width: 100%;
        height: calc(100vh - 150px);
        @media(max-width: 800px) {
            // padding: 0px 15px;
            padding-bottom: 70px;

            > li {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        @media(max-width: 650px) {
            height: calc(100vh - 144px);
        }
        >li {
            display: block;
            float: none;
            &.hs-item-has-children {
                position: static;
            }
            &.sub-active {
                >a {
                    color: hubl("$first_color");
                    @media(max-width: 800px) {
                        border-bottom: 2px solid hubl("$first_color");
                    }
                }
            }
            >ul {
                position: absolute;
                top: -100px;
                bottom: 0;
                left: 400px;
                transition: 0.3s all;
                display: none;
                width: 400px;
                height: 100vh;
                padding-top: 100px;
                padding-bottom: 100px;
                background: #f0f0f0;
                @media(max-width: 800px) {
                    background-color: #fff;
                    padding-left: 30px;
                    padding-right: 0px;
                    padding-bottom: 0px;
                }
                @media(max-width: 435px) {
                    left: 100%;
                    width: 100%;
                }
                &.active {
                    display: block;
                    opacity: 1!important;
                    visibility: visible!important;
                }
                @media(max-width: 800px) {
                    position: static;
                    height: auto;
                    padding-top: 0px;
                    display: block;
                    opacity: 1!important;
                    visibility: visible!important;
                    max-height: 0px;
                    transition: 0.3s all ease-in-out;
                    &.active {
                        max-height: 100vh;
                        transition: 0.3s all ease-in-out; 
                    }
                }
                li {
                    &.hs-item-has-children {
                        >ul {
                            // display: none;
                            // visibility: hidden;
                            // opacity: 0;
                            max-height: 0px;
                            transition: 0.3s all ease-in-out;
                        }
                    }
                    &.sub-active {
                        >ul {
                            // display: block;
                            // opacity: 1;
                            max-height: 100vh;
                            transition: 0.3s all ease-in-out; 
                            // height: auto;
                            // visibility: visible;
                        }
                    }
                    a:not(.cta_button) {
                        @media(max-width: 800px) {
                            font-size: rem(20);
                            border-bottom: 2px solid rgba(199, 197, 189, 0.5);
                        }
                    }
                    >ul {
                        position: static;
                        li {
                            a:not(.cta_button) {
                                font-size: rem(20);
                                padding-left: 35px;
                                &:before {
                                    content: '- ';
                                    font-size: inherit;
                                    line-height: inherit;
                                    @media(max-width: 800px) {
                                        display: none;
                                    }
                                }
                                @media(max-width: 800px) {
                                    opacity: 0.5;
                                    padding-left: 0px;
                                    border-bottom: 2px solid rgba(199, 197, 189, 0.5);
                                }
                            }
                        }
                        @media(max-width: 800px) {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
        li.more-menu {
            padding-top: 15px;
            display: none;
            @media(max-width: 1300px) {
                display: block;
            }
            .right-wrapper {
                padding: 10px 20px;
                display: flex!important;
                flex-wrap: wrap;
                >div {
                    width: 100%;
                    &:first-child {
                        order: 5;
                    }
                    a.cta {
                        min-width: 100%;
                    }
                }
                @media(max-width: 800px) {
                    padding: 0px;
                }
                a {
                    width: auto!important;
                }
                a.cta--phone {
                    margin-top: 25px;
                    padding: 0px!important;
                }
            }
        }

        li.mobile-lang_switcher {
            padding-left: 0;
            padding-right: 0;
            display: none;

            @media (max-width: 1300px) {
                display: block;
            }
            
            ul {
                display: block;
                position: relative;
                left: auto;
                top: auto;
                width: auto;
                height: auto;
                padding: 0;
                max-height: none;
                background-color: #f0f0f0;

                li {
                    display: inline-block;
                    width: auto;

                    &:first-of-type {
                        a {
                            color: #000;
                        }
                    }

                    a {
                        text-transform: uppercase;
                        color: #969696;
                        padding-right: 20px;
                        border: none;
                    }
                }

                @media (max-width: 800px) {
                    padding: 0 15px;
                }
            }
        }

    }
}


body.overflow{
    
       overflow: hidden!important;
    }


header.main-header {
    transform: translateZ(0);
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 999997;
    background-color: #fff;
    transition: 0.3s top ease-in-out;
    @media (max-width: 767px) {
        top: 80px;
    }

    &.mobile.scroll{
        top: -100px;
        @media(max-width: 650px) {
             top: -64px;
        } 
    }
    .container {
        margin: 0 auto!important;
        float: none;
        height: 100px;
        max-width: 1850px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media(max-width: 650px) {
            height: 64px;
        }
        .logo-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            margin: 0 auto; // background-color: red;
            img {
                @media(max-width: 650px) {
                    max-width: 90px;
                }
            }
        }
        .right-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media(max-width: 1300px) {
                display: none;
            }
            >div {
                >div > .span12 {
                    margin: 10px;
                    width: auto;
                }
                &:last-child {
                    >div > .span12 {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    .btn-wrapper {
        display: flex;
        align-items: center;
        label {
            display: block;
            padding-left: 10px;
            font-family: $font;
            line-height: 1;
            font-size: rem(24);
            margin-top: -5px;
            font-weight: bold;
            color: #000000;
            transition: 0.3s all;
            @media(max-width: 650px) {
                display: none;
            }
        }

        .btn-hamburger {
            min-width: 54px;
            height: 54px;
            border-radius: 50%;
            border: solid 1px #000000;
            cursor: pointer;
            position: relative;
            @media(max-width: 650px) {
                min-width: 45px;
                height: 45px;
            }
            span {
                display: block;
                position: absolute;
                width: 27px;
                height: 4px;
                background: #000;
                opacity: 1;
                left: 12px;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                @media(max-width: 650px) {
                    left:8px;
                }
                &:nth-child(1) {
                    top: 17px;
                    transform-origin: left center;
                    @media(max-width: 650px) {
                        top: 12px;
                    }
                }
                &:nth-child(2) {
                    top: 25px;
                    transform-origin: left center;
                    @media(max-width: 650px) {
                        top: 20px;
                    }
                }
                &:nth-child(3) {
                    top: 33px;
                    transform-origin: left center;
                    @media(max-width: 650px) {
                        top: 28px;
                    }
                }
            }
            &.active {
                padding: 12.5px 20px;
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 15px;
                        left: 16px;
                        @media(max-width: 650px) {
                            top: 11px;
                            left: 12px;
                        }
                    }
                    &:nth-child(2) {
                        width: 0%;
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 34px;
                        left: 16px;
                        @media(max-width: 650px) {
                            top: 30px;
                            left: 12px;
                        }
                    }
                }
                +label {
                    opacity: 0;
                }
            }
        }
    }
    .mobile-menu-more{
        background-color: hubl("$first_color");
        display: none;
        @media(max-width: 1300px){
            display: block;
        }
        .get-started {
            text-align: center;
                a{
                border-color: #fff!important;
                padding: 2px 25px!important;
                margin: 5px 0px!important;

            }
        }
    }


}


// LANDING HEADER


header.landing-header {
    transform: translateZ(0);
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100%;
    z-index: 999997;
    background-color: #fff;
    transition: 0.3s top ease-in-out;

    @media (max-width: 767px) {
        top: 80px;
    }

    &.mobile.scroll{
        top: -100px;
        @media(max-width: 650px) {
             top: -64px;
        } 
    }
    .container {
        margin: 0 auto!important;
        float: none;
        height: 100px;
        max-width: 1850px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media(max-width: 650px) {
            height: 64px;
        }
        .logo-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            margin: 0 auto; // background-color: red;
            img {
                @media(max-width: 650px) {
                    max-width: 90px;
                }
            }
        }
        .right-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media(max-width: 1300px) {
                display: none;
            }
            >div {
                margin: 10px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

  


}


// BLOG SCROLL INDICATOR HEADER

header.main-header {

    .header-topics-nav {
        position: absolute;
        max-width: 1120px;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media (max-width: 1420px) {
            position: relative;
            top: auto;
            left: auto;
            transform: translateX(0) translateY(0);
        }

        @media (max-width: 640px) {
            display: none;
        }

        ul {
            li {
                display: inline-block;
                margin-right: 45px;

                @media (max-width: 991px) {
                    margin-right: 0;
                    margin-left: 20px;
                }

                a {
                    color: hubl("$font_color");

                    &:hover {
                        color: hubl("$first_color");
                    }

                    @media (max-width: 991px) {
                        font-size: rem(22);
                    }


                    @media (max-width: 767px) {
                        font-size: rem(20);
                    }
                }
            }
        }
    }

    &--scroll-indicator {
        border-bottom: solid 1px #c7c5bd;

        .blog-subscribe-bar {
            padding: 0;
            // background-color: transparent;
        }

        .mobile-menu-more {
            display: none;
        }

        .container {

            .right-wrapper {

                @media (max-width: 1300px) {
                    display: block;

                    & > div {
                        margin: 0;
                    }

                    .get-started {
                        display: none;
                    }
                }
            }

            .blog-subscribe-bar {
                &__subscribe {
                    width: 100%;
                }
            }

            @media (max-width: 767px) {
                .row-fluid-wrapper:nth-of-type(2) {
                    display: none;
                }
            }
        }

        .scroll-indicator {
            appearance: none;
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 4px;
            border: none;
            background-color: transparent;
            color: hubl("$first_color");

            @media (max-width: 1300px) {
                bottom: auto;
                top: 100%;
            }

            &::-webkit-progress-bar {
                background-color: transparent;
            }

            &::-webkit-progress-value {
                background-color: hubl("$first_color");
            }

            &::-moz-progress-bar {
                background-color: hubl("$first_color");
            }
        }
    }
}

// Language switcher
header {
    .globe_class {
        background: none;
        width: auto;
        height: auto;
        position: relative;

        .active-lang {
            border: none;
            padding: 0;
            text-transform: uppercase;
            font-size: rem(17);
            font-weight: bold;
            position: relative;
            padding-right: 12px;
            cursor: pointer;

            &:after {
                font-family: "Font Awesome\ 5 Free";
                content: "\f0d7";
                font-size: 14px;
                line-height: 1;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }

        .lang_list_class {
            display: block;
            position: absolute;
            top: 22px;
            left: 0;
            transform: translateX(0);
            text-align: left;
            z-index: 100;
            list-style: none;
            padding: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: all .3s linear;

            &:before, &:after {
                display: none;
            }

            li {
                border: none;
                padding: 0;
                background: transparent;
                font-size: rem(17);
                text-transform: uppercase;
                font-weight: bold;

                a {
                    color: #969696;
                }
            }
        &--show {
            opacity: 1;
            visibility: visible;
        }
        }
    }
}
