textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: $font_body;
    color: font_color;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
strong,
em,
small,
blockquote,
div {
    margin: 0;
    padding: 0;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    line-height: 1.5;
    font-weight: normal;

    @media (max-width: 767px) {
        line-height: 1.3;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font;
    font-weight: 700;
    
    span{
        color: hubl("$first_color");
    }
}


h1,
.h1
{
    font-size: rem(45);
    @media(max-width: 767px){
        font-size: rem(32);
    }
}


h2,
.h2 {
    font-size: rem(38);
    @media(max-width: 767px){
        font-size: rem(28);
    }
}


h3,
.h3 {
    font-size: rem(32);
    @media(max-width: 767px){
        font-size: rem(24);
    }
}

h4,
.h4 {
    font-size: rem(28);
    @media(max-width: 767px){
        font-size: rem(20);
    }
}

h5,
.h5 {
    font-size: rem(24);
    @media(max-width: 767px){
        font-size: rem(18);
    }
}


h6,
.h6 {
    font-size: rem(24);
    color: hubl("$first_color");
    @media(max-width: 767px){
        font-size: rem(18);
    }
}

p,
p span,
.p {
    font-size: rem(17);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 20px;
     @media(max-width: 767px){
        font-size: rem(15);
    }
}


strong{
    font-weight: 700;
}

small, .small{
    font-size: rem(14);
    line-height: 1.2;
    display: inline-block;
     @media(max-width: 767px){
        font-size: rem(12);
    }
}

blockquote{
    font-size: rem(24);
    line-height: 1.5;
    margin: 20px 0px;
    position: relative;
     @media(max-width: 767px){
        font-size: rem(18);
    }
    &:before{
        position: absolute;
        top: -40px;
        left: -60px;
        content: '”';
        font-family: 'Georgia';
        font-weight: bold;
        color: #c0c0b2;
        font-size: rem(100);
        line-height: 1;
        line-height: inherit;
        display: block;
        height: 50px;
        @media(max-width: 1300px){
            position: static;
            display: block;
            left: 0px;      
            line-height: inherit;
            margin-bottom: 30px;
        }
        @media(max-width: 767px){
                font-size: rem(70);
                margin-bottom: 5px;
        }
    }
    &:after{
       
        transform: scale(4) translate(7px, 6px);
        content: '“';
        font-family: 'Georgia';
        font-weight: bold;
        color: #c0c0b2;
        font-size: inherit;
        line-height: inherit;
        display: inline-block;
    }
}

a {
    position: relative;
    // display: inline-block;
    color: hubl("$first_color");
    text-decoration: none;
    transition: .3s linear all;
}

ul,
ol {
    li {
        font-size: rem(17);
        font-weight: 500;
        padding-left: 0px;
        @media(max-width: 767px){
            font-size: rem(15);
        }
    }
}

ul {
    list-style-type: none;
    li {
        position: relative;
        
    }
}

ol {
    li {
        list-style-type: none;
        counter-increment: list;
        position: relative;
        &:before {
            position: absolute;
            content: counter(list) ".";
            display: inline-block;
            text-align: right;
            margin-right: 18px;
            left: 15px;
        }
    }
}

.widget-type-rich_text,
.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    a{
        font-weight: bold;
        &:hover{
            color: #c7c5bd;
        }
    }
    ul{
        margin-bottom: 20px;
        li {
            padding-left: 45px;
            margin-bottom: 10px;
            &:before {

                content: "";
                position: absolute;
                left: 16px;
                width: 5px;
                height: 5px;
                background-color: hubl("$font_color");
                border-radius: 50%;
                top: 11px;
                
            }
        }
    }
    ol {
        margin-bottom: 20px;
        li {
            padding-left: 45px;
            margin-bottom: 10px;
        }
    }
}

