@font-face {
    font-family: 'SharpSansNo1';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Bold.eot');
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Bold.eot?#iefix') format('embedded-opentype'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Bold.woff') format('woff'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SharpSansNo1';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-BoldItalic.eot');
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-BoldItalic.eot?#iefix') format('embedded-opentype'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-BoldItalic.woff') format('woff'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SharpSansNo1';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Extrabold.eot');
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Extrabold.eot?#iefix') format('embedded-opentype'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-Extrabold.woff') format('woff'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SharpSansNo1';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-ExtraboldItalic.eot');
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSansNo1-ExtraboldItalic.woff') format('woff'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-ExtraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SharpSansNo1';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-Medium.eot');
    src: url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-Medium.eot?#iefix') format('embedded-opentype'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-Medium.woff') format('woff'), url('//www.coresystems.net/hubfs/core2018/fonts/sharpsans/SharpSans-No1-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('//www.coresystems.net/hubfs/core2018/fonts/georgia/Georgia-Bold.woff2') format('woff2'),
        url('//www.coresystems.net/hubfs/core2018/fonts/georgia/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


// ZMIENNE 

$font: 'SharpSansNo1';
$font_body: 'Open Sans', sans-serif;

// $first_color: #6ebee3;

// $light_color: #f7f7f7;
// $dark_color: #464646;
// $font_color: #000; 


// --------------

$browser-context: 16; // Font size bazowy w px na body, html

$dev_version : true;

$variables : (	

    "$first_color": #6ebee3, 
    "$font_color": #000, 
        
    "$light_color": #f7f7f7,
    "$dark_color": #464646

);
			
// HOW use:  hubl("$first_color");


// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}
