.events-page {

	&__header {
		margin-top: 80px;
		margin-bottom: 20px;

		@media (max-width: 767px) {
			margin-top: 40px;
		}
	}

	&__events {
		margin-bottom: 60px;

		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}