.feature-page{
	.top-text{
		padding: 100px 0px;
		@media(max-width: 767px){
			padding: 50px 0px;
		}
	}
	.kpi-boxes{
		background-color:  hubl("$light_color");
		padding: 100px 0px;
		@media(max-width: 767px){
			padding: 50px 0px;
		}
		.wrapper{
			> span{
				display: flex;
				justify-content: space-between;
				@media(max-width: 1200px){
					flex-wrap:wrap;
					justify-content: center;
					> div{
						width: 100%;
					}
					.kpi-box{
						margin: 0 auto 30px auto;
					}
				}
			}
		}

	}
	.text-and-image-section{
		padding: 100px 0px 60px 0px;
		@media(max-width: 767px){
			padding: 50px 0px;
			.widget-type-linked_image{
				margin: 0 auto;
				text-align: center;
			}
			.hs-cta-wrapper{
				margin: 30px auto;
				display: block;
				text-align: center;
			}
		}
	}
}