.home {
    // SLIDER
    .slider-wrapper{     
        height: 600px;   

        overflow: hidden;
    }
    .main-slider {
        &.slick-dotted.slick-slider {
            margin-bottom: 0px;
        }
        margin-bottom: 0px;
        .slick-dots {
            bottom: 20px;
            li {

                &:first-of-type:last-of-type {
                    display: none;
                }
            	// margin: 0px;
            	width: 12px;
            	height: 12px;
                &:before {
                    display: none;
                }
                button {
                	width: 10px;
            	height: 10px;
            	padding: 0;
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: transparent;
                        border-radius: 50%;
                        opacity: 1;
                        border: 1px solid #fff;
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        .slick-arrow {
            z-index: 40;
        }
        .slick-prev {
            left: 20px;
        }
        .slick-next {
            right: 20px;
        }
    }
    .nav-slider {
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        @media(max-width: 680px){
            display: none;
        }
        //FIX BELOW MIN ITEMS
        @media(min-width: 1120px){
            &.below-min .slick-track{
                transform: inherit !important;
            }
        }
        // 
        .pagination-content {
            cursor: pointer;
            min-height: 133px;
            margin: 0px 10px;
            padding: 30px;
            width: 100%;
            background-color: #f0f0f0;
            border-bottom: 3px solid transparent;
            transition: .3s all;
            @media(max-width: 680px){
            	margin:0px;
            }
            &.slick-center{
                
                border-color: hubl("$first_color");
            }
            h5 {}
            .content {
                p,
                span {}
            }
        }
        &.below-min{
            .pagination-content {
                &.slick-center {
                
                    border-color: transparent;
                }
                &.slick-current.slick-center {
                    
                    border-color: hubl("$first_color");
                }
            }
            
        }
    }
    //PERSON SLIDER 
    .persons-slider-header{
        margin-top: 70px;
        text-align: center;
        @media(max-width: 680px){
            margin-top: 50px;
        }
        h2{
            line-height: 1;
        }
    }
	.persons-wrapper{
		margin-top: 30px;
        margin-bottom: 90px;
        @media(max-width: 680px){
            margin-bottom: 70px;
        }
	}
    // industries-wrapper
    .industries-wrapper{
        padding-top: 85px;
        padding-bottom: 105px;
        text-align: center;
        @media(max-width: 680px){
            padding-top: 40px;
            padding-bottom: 55px;
            text-align: left;
        }
        .widget-type-rich_text{
            max-width: 720px;
            margin: 0 auto 40px auto;
            h2{
                margin-bottom: 10px;
            }

        }
        .slick-slider{
            .slick-arrow:before{
                background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-blue.svg');
            }
        }
    }
    // TEXT
    .text{
        padding: 90px 0px 70px 0px;
        text-align: center;
        @media(max-width: 680px){
            padding-top: 45px;
            padding-bottom: 35px;
            text-align: left;
        }
        h2{
            line-height: 1;
            margin-bottom: 30px;
        }
        .widget-type-rich_text{
            max-width: 720px;
            margin: 0 auto;
        }
    }
    // VIDEO SLIDER
    .video-slider-section{
        padding: 100px 0px 75px 0px;
        @media(max-width: 680px){
            padding-top: 50px;
            padding-bottom: 35px;
        }
        .widget-type-rich_text{
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            h2{
                line-height: 1;
                margin-bottom: 20px;
            }
            @media(max-width: 680px){
                text-align: left;
            }
        }
        .video-slider-wrapper {
            padding-bottom: 10px;
            .slick-slider{
                .slick-arrow:before{
                    background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-blue.svg');
                }
                .slick-next{
                    right: -40px;
                     @media(max-width: 1250px){
                          right: -15px;
                    }
                }
                .slick-prev{
                    left: -40px;
                    @media(max-width: 1250px){
                         left: -15px;
                    }
                }
            }
            .slick-list {
                padding: 100px 0px!important;
                @media(max-width: 1170px){
                    padding: 0px!important;
                }
            }
            .slick-track{
                .slick-center{
                    .video-slide{
                        transform:scale(2);
                        iframe{
                            html {
                                transform:scale(0.5)!important;
                            }
                        } 

                    }
                }
            }
        }
    }
    // FEATURES SECTION
    .features-section{
        padding: 55px 0px 90px 0px;
        @media(max-width: 680px){
            padding-top: 10px;
            padding-bottom: 35px;        
        }
        h3{
            text-align: left;
            line-height: 1.2;
            margin-bottom: 50px;
            margin-top: 47px;
        }
        .feature-box-wrapper > span,
        .feature-box-wrapper-global {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            > div{
                width: 30%;
                margin-bottom: 20px;
                max-width: 265px;
                @media(max-width: 1150px){
                    width: 48%;
                    max-width: 48%;
                }
                 @media(max-width: 600px){
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    // LOGO PANEL
    .logos-slider{
        padding: 80px 0px 40px 0px;
        @media(max-width: 680px){
            padding-top: 40px;
            padding-bottom: 20px;        
        }
        .widget-type-header{
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            @media(max-width: 680px){
                text-align: left;      
            }
        }
        
        h2{
            margin-bottom: 30px;
        }
        .slick-slider{
            .slick-arrow:before{
                background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-blue.svg');
            }
            .slick-prev{
                margin-top: 0px;
                @media(max-width: 1200px){
                    left: 0px;
                }
            }
            .slick-next{
                margin-top: 0px;
                @media(max-width: 1200px){
                    right: 0px;
                }
            }
        }
        .logo-panel-db{

        }
    }
    // TEXT AND IMAGE
    .text-and-image-section{
        padding: 100px 0px;
        @media(max-width: 680px){
            padding-top: 50px;
            padding-bottom: 50px;        
        }
        .widget-type-rich_text{
            max-width: 650px;
            
            h2{
                line-height: 1;
                margin-bottom: 30px;
            }
        }
        .widget-type-linked_image{
            
                @media(max-width: 767px){
                    text-align: center;
                }
            
        }
    }
     
}