.locations {

    h1 {
        margin-top: 80px;
        @media(max-width: 767px) {
            margin-top: 40px;
        }
    }
    .map {
        img {
            margin: 30px auto;
        }
    }

    .location-wrapper>span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
        @media(max-width: 767px) {
            margin-bottom: 20px;
        }
        >div {
            width: 30%;
            margin-bottom: 20px;
            @media(max-width: 767px) {
                width: 48%;
            }
            @media(max-width: 600px) {
                width: 100%;
            }
            h5,p {
                font-size: 17px;
            }
        }
    }
}