.core-password-page {

	.body-container-wrapper {
    	padding-top: 100px;
	}

	.password-section {
		min-height: calc(100vh - 160px);
		display: flex;
		align-items: center;
		text-align: center;

		@media (max-width: 767px) {
			min-height: calc(100vh - 195px);
		}

		.container {
			max-width: 590px;
		}

		form {

			input[type=password] {
				margin-top: 10px !important;
				margin-bottom: 35px;
			}

			input[type=submit] {
				border-radius: 7px;
				min-width: 110px;
				padding: 10px;
			}

		}
	}
}

.core-password-page.ms-browser {
	
	.password-section {
		height: calc(100vh - 160px);

		@media (max-width: 767px) {
			height: auto;
		}
	}
}