.people{
	// HERO BANNER
	.hero-banner-simple{
		margin-bottom: 80px;
	}
	// MAIN TEXT
	.main-text{
		margin-bottom: 10px;
	}
	// PERSON SIMPLE
	.about-person-simple-wrapper{
		margin-top: 20px;
		margin-bottom: -30px;
		> span{
		display: flex;
		flex-wrap: wrap;

		> div{
			width: 16.5%;
			// margin: 0px 25px 35px 25px;
			margin-bottom: 35px;
			@media(max-width: 1120px){
				width: 32%;
			}
			@media(max-width: 767px){
				width: 48%;
			}
			@media(max-width: 486px){
				width: 100%;
			}
		}
	}
	// PERSON EXTENDED
	} 
	.about-person-extended-wrapper{
		margin-top: 20px;
		margin-bottom: 100px;
	}
}