.systems {
	
    .hero-banner-system-page {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center; 
        // background-image by JS
        @media(max-width: 486px) {
            height: 150px;
        }
        img {
            display: none!important;
        }
    } 
    // SUBSCRIPTION PREFERENCES
    &.subscription-preferences {

        .subscription-form-section {
            margin-top: 80px;

            .container {
                max-width: 740px;
            }

            .page-header {

                h1 {
                    font-family: $font;
                    font-size: rem(45);
                    line-height: 1.2;
                    font-weight: bold;
                    margin-bottom: 30px;
                }

                h2 {
                    font-size: rem(30);
                }

                p {
                    font-size: rem(17);
                    line-height: 1.59;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }


        form {

            .hs-form-field {
                margin: 5px 0px;
                label {
                    span {
                        font-size: rem(14);
                        line-height: 20px;
                        color: #c7c5bd;
                    }
                }
            }
            input[type=submit] {
                margin-top: 30px;
            }
        } // FAKE INPUTS
        .email-prefs {
            .header {
                line-height: 1.5;
                font-weight: normal;
                font-family: $font;
                font-weight: 700;
                margin-left: 2px;
                font-size: rem(24);
                margin-bottom: 35px;
                user-select: auto;
                @media(max-width: 767px) {
                    font-size: rem(18);
                    line-height: 1.3;
                }
            } // ITEMS
            .item {
                margin: 10px 0px;
                user-select: auto;
                .item-inner {
                    border: none;
                    border-radius: 0;
                    background: #fff;
                    overflow: visible;
                    cursor: default;
                    padding: 0px;
                    user-select: auto;
                    &.hovered {
                        box-shadow: none;
                    } // FAKE LABLE
                    .checkbox-row {
                        cursor: default;
                        .fakelabel {
                            user-select: auto;
                            display: inline-block;
                            position: relative;
                            z-index: 1;
                            cursor: default;
                            input {
                                display: block;
                                visibility: visible;
                                opacity: 0;
                                cursor: pointer;
                                position: absolute;
                                z-index: 5;
                                width: 24px;
                                height: 24px;
                                display: block;
                                appearance: none;
                                background-color: transparent;
                                border: none;
                                top: 0px;
                                left: 2px;
                            }
                            span {
                                margin-left: 37px;
                                position: relative;
                                z-index: 3;
                            }
                        }
                    }
                    p {
                        margin: 0px 0px 0px 37px;
                    }
                }
            }
            .subscribe-options {
                margin-bottom: 0px;
                .header {
                    margin-bottom: 0px;
                }
            }
            #submitbutton {
                margin-top: 0px;
            }
        } // FOOTER
        .footer {
            .bottom {
                margin-top: 90px;
                border-top: 1px solid #c7c5bd;
            }
        }
    } 
    //SUBSCRIPTION BACKUP
    &.subscription-backup {
        .main-content {
            margin: 100px 0px;
            text-align: center;
            .page-header{
          
                display: none;
            
        }
            #email-prefs-form {
                h3 {
                    font-family: $font;
                    font-weight: 700!important;
                    font-size: rem(45);
                    margin-bottom: 40px;
                    @media(max-width: 767px) {
                        font-size: rem(32);
                    }
                }
                input.hs-input.email-edit {
                    max-width: 550px;
                    width: 100%!important;
                    padding: 7.5px 15px!important;
    				line-height: 1.6!important;
    				font-size: rem(17)!important;
                }
                #submitbutton{
                	margin-top: 40px;
                }
            }
        }
    }
    //SUBSCRIPTION CONFIRMATION
    &.subscription-confirmation{
		.main-content {

            text-align: center;
            max-width: 550px;
            margin: 100px auto!important;
            float: none;
            h1{
				font-family: $font;
                    font-weight: 700!important;
                    font-size: rem(45);
                    margin-bottom: 60px;
                    @media(max-width: 767px) {
                        font-size: rem(32);
                    }
            }
            h2{
				font-family: $font_body;
				color: #6ebee3;
                font-size: rem(24);
                margin-bottom: 20px;
                @media(max-width: 767px) {
                   	font-size: rem(18);
                }
            }
            #content{
				font-family: $font_body;
                font-size: rem(24);
                margin-bottom: 0px;
                @media(max-width: 767px) {
                    font-size: rem(18);
                }
            }
            p{
				font-family: $font_body;
                font-size: rem(17);
                font-weight: 300;
                margin-bottom: 0px;
            }
            
        }

    }
}