.terms-of-service{
	.main-text{
		margin-top: 80px;
		@media(max-width: 767px){
			margin-top: 30px;
		}
		h1{
			margin-bottom: 15px;
		}
	}
	.content{
		margin-top: 30px;
		margin-bottom: 80px;
		> div >div{
		display: flex;
		@media(max-width: 767px){
			flex-direction: column;
			> div{
				width: 100%;
			}
			.quick-menu-wrapper{
				order: -1;
				margin-top: 0px;
				margin-bottom: 40px;
				> div{
					position: static!important;
					width: 100%!important;
				}
			}
		}
		.quick-menu-wrapper{
			margin-left: 0;
			padding-left: 7px;
			width: 300px;

			@media (max-width: 767px) {
				width: 100%;
				padding-left: 0;
			}

			.widget-type-text{
				span{
					font-weight: 900;
					margin-bottom: 10px;
					display: inline-block;
					font-size: 17px;
				}
			}
			ul li{
				display: block;
				width: 100%;
				a{
					padding-left: 5px;
					padding-right: 0;
					padding-top: 0px;
					padding-bottom: 3px;
					font-weight: 900;
					white-space: normal;
					&:before{
						content: '';
						display:inline-block;
						width: 4px;
						height: 4px;
						background-color: hubl("$first_color");
						border-radius: 50%;
						vertical-align: middle;
						margin-right: 15px;
					}
					&:hover{
						opacity: 0.8;
					}
					@media(max-width: 1200px){
						white-space: normal;
					}
				}
			}
		}
		.text-content-wrapper{
			border-right: 1px dotted hubl("$first_color");
			padding-right: 10px;
			width: 100%;
			max-width: 820px;
			@media(max-width: 767px){
				border: none;
				padding-right: 0px;
			}
			h3{
				margin-bottom: 20px;
			}
		}
	}
	} 

	// QUICK MENU 
	.quick-menu-wrapper {
			position: relative;
			// background: red;
		> div{
			background-color: #f7f7f7;
			padding: 15px;
			// width: 100%;
		}
	}
	.footer{
		// margin-top: 1000px;
	}
}