.white-paper {
    h1 {
        margin-top: 70px;
        margin-bottom: 0px;
    }
    .white-papers-wrapper {
        margin-bottom: 75px;

        .filters {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
}