.landing{
	// TOP SECTION
	.top-section{
		padding: 80px 0px 20px;
		@media(max-width: 767px){
			padding: 0px 0px 20px;
		}
		.container > div{
			max-width: 740px;
		}
		h1{
			margin-bottom: 30px;
			line-height: 1;
		}
		
	}
	// FORM SECTION
	.form-section{
		.inner-wrapper{
			> div >div{
				display: flex;
				align-items: flex-start;
				@media(max-width: 767px){
					flex-direction:column;
					> div{
						width: 100%;
					}
				}
				form{
					margin-bottom: 80px;
					@media(max-width: 767px){
						margin-bottom: 40px;
					}
				}
				.image-wrapper{
					@media(max-width: 767px){
						order: -1;
					}
					.widget-type-linked_image{
						text-align: center;
						img{
							margin-top: 20px;
							// box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
		                    @media(max-width: 767px){
		                        display: block;
		                        margin: 0 auto 30px;
		                    }
		                }
		            }
		        }
			}
		}
	}

	// BOTTOM SECTION
	.bottom-section{
		border-top: none;
		padding: 85px 0px 70px;
		@media(max-width: 767px){
			padding: 45px 0px 35px;
		}
		.container{
			text-align: center;
			h2{
				margin-bottom: 40px;
				line-height: 1;
			}
		}
	}
	// LOGO PANEL
    .logos-slider{
        padding: 80px 0px 65px 0px;
        @media(max-width: 680px){
            padding-top: 40px;
            padding-bottom: 20px;        
        }
        .widget-type-header{
            max-width: 720px;
            margin: 0 auto;
            text-align: center;
            @media(max-width: 680px){
                text-align: left;      
            }
        }
        
        h2{
            margin-bottom: 30px;
        }
        .slick-slider{
            .slick-arrow:before{
                background-image: url('//www.coresystems.net/hubfs/18/icons/slider-arrow-blue.svg');
            }
            .slick-prev{
                margin-top: 0px;
                @media(max-width: 1200px){
                    left: 0px;
                }
            }
            .slick-next{
                margin-top: 0px;
                @media(max-width: 1200px){
                    right: 0px;
                }
            }
        }
        .logo-panel-db{

        }
    }

}