.landing-contact-form {

	.body-container-wrapper {
		min-height: calc(100vh - 60px);
	}

	.top-section {
		margin-top: 80px;
		margin-bottom: 50px;
		text-align: center;

		.container {
			max-width: 740px;
		}

		h1 {
			margin-bottom: 20px;
		}
	}

	.form-section {
		margin-bottom: 80px;

		form {

			.hs-form-field {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
			}

			fieldset {
				.hs-form-field {
					max-width: 100%;
				}
			}

			.hs_submit {
				margin-top: 40px;
				text-align: center;
			}
		}
	}
}