.case-studies {

    // ------------
    // LISTING PAGE
    // ------------

    .listing-header{
    	background-color: #f7f7f7;
    	padding: 25px 0px 32px;
    	margin-bottom: 90px;
    	h1{
			
    	}
    }
    .posts-listing {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px;
        // transition: opacity 0.5s ease-in-out;
        .item-wrapper {
            width: 33.33%;
            padding: 10px;
            @media(max-width: 1024px){
                width: 50%;
            }
            @media(max-width: 767px){
                width: 100%;
            }
            .item {
                background-color: #f7f7f7;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                border: 1px solid #c7c5bd;
                &:hover{
                	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.55);
                }
                .thumb {
                    width: 100%;
                    height: 168px;
                    background-size: cover;
                    background-position: center center;
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
                .logo {
                    background-color: #fff;
                    max-width: 160px;
                    margin: -30px auto 0px;
                    img {
                  		margin: 0 auto;
                        display: block;
                        max-width: 160px;
                    }
                }
                .desc {
                    padding: 10px 20px 25px 20px;
                    font-size: 17px;
                    color: #000;
                    line-height: 27px;
                    p,
                    span {
                        color: inherit;
                        line-height: inherit;
                        font-size: inherit;
                    }
                }
            }
        }
    } 
    // NAVIGATION
    .pagination {
        width: 100%;
        text-align: center;
        
        margin: 30px 0px 95px 0px;
        .disabled {
            display: none;
        }
        ul{
            display: block;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content:center
        }
        li {
            display: inline-block;
            background-color: #fff;
            margin: 0 3px;
            a {
                border-radius: 0px;
                overflow: hidden;
                color: hubl("$first_color");
                display: block;
                border: solid 1px transparent;
                height: 40px;
                width: 40px;
                line-height: 40px;
                font-weight: 700;
                text-align: center;
                font-size: 14px;
                overflow: hidden;
                border-radius: 50%;
                display: block;
                &.arrow{
                    border: solid 1px hubl('$cta_background');
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    position: relative;
                    img{
                        width: 11px;
                        position: absolute;
                        top: 50%;
                        
                        transform: translate(-50%,-50%);
                    }
                    &.right{
                        img{
                            left: calc(50% + 1px);
                        }
                    }
                    &.left{
                        img{
                            left: calc(50% - 1px);
                        }
                    }
                }
                i{
                     color: hubl("$first_color");
                }
                &:hover {
                    border: solid 1px hubl('$cta_background');
                    color: hubl('$cta_background');
                    i{
                        color: hubl('$cta_background');
                    }
                }
            }
            &.active {
                a {
                    background-color: hubl("$first_color");
                    border: hubl("$first_color");
                    color: #fff;
                    border-radius: 50%;

                }
            }   
        }
    }


    // -----------
    // SINGLE POST 
    // -----------

    // KPI BOXES
    .kpi-boxes {
        background-color: hubl("$light_color");
        padding: 100px 0px;
        @media(max-width: 767px) {
            padding: 50px 0px;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            @media(max-width: 1200px) {
                flex-wrap:wrap;
                justify-content: center;
                >div {
                    width: 100%;
                }
                .kpi-box {
                    margin: 0 auto 30px auto;
                }
            }
        }
    }


    .case-studies-single{
        position: relative;
        border-bottom: 2px solid #c7c5bd;

        @media (max-width: 767px) {
            margin-bottom: 10px;
        }

        .social-share-title {
            display: none;

            @media (max-width: 767px) {
                display: block;
            }
        }

        .social-share{
            ul{
                position: absolute;
                top: 10px;
                

                @media (max-width: 767px) {
                    position: static !important;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin: 0 0 10px;
                }
                li{
                    display: block;
                    margin-bottom: 7px;
                    margin-right: 5px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    &:before{
                        display: none;
                    }

                    @media (max-width: 767px) {
                        margin: 5px;
                    }
                    a{
                        display: inline-block;
                        width: 49px;
                        overflow: hidden;
                        height: 49px;
                        border: 1px solid #000;
                        border-radius: 50%;
                        text-align: center;
                        color: #000;

                        @media (max-width: 767px) {
                            width: 34px;
                            height: 34px;
                        }
                        &:hover{
                            border-color: hubl("$first_color");
                            i{
                                color: hubl("$first_color");
                            }
                        }
                        i{
                            line-height: 49px;
                            font-size: 30px;
                            transition: 0.3s all;

                            @media (max-width: 767px) {
                                line-height: 34px;
                                font-size: 20px;
                            }
                        }
                        &.facebook{
                            i{
                                font-size: 37px;
                                transform: translateY(5px) translateX(4px);

                                @media (max-width: 767px) {
                                    font-size: 24px;
                                    transform: translateY(2px) translateX(1px);
                                }
                            }
                        }
                        &.twitter{
                            i{
                                transform: translateX(1px);
                            }
                        }
                        &.linkedin{
                            i{
                                font-size: 28px;

                                @media (max-width: 767px) {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
            }
            }
        }

        .post-body{
            max-width: 930px;
            margin: 40px 0px 60px auto;

            @media(max-width: 1075px){
                margin: 40px 0px 0px 80px;
            }

            @media(max-width: 767px) {
                margin: 40px 0 0 0;
            }

            & > .hs_cos_wrapper,
            & > div > div > .hs_cos_wrapper {
                display: block;
                padding-left: 0;

                 > {

                    img {
                        margin-bottom: 30px;

                    }

                    p, span, h1, h2, h3, h4, h5, h6, ul, ol {
                        display: block;
                        padding-left: 95px;
                        margin-bottom: 30px;

                        @media(max-width: 1075px){
                            padding-left: 0px;
                        }

                        @media (max-width: 767px) {
                            margin-bottom: 10px;
                        }
                    }

                    p, span, h1, h2, h3, h4, h5, h6 {

                        * {
                            margin-bottom: 0;
                        }
                    }

                    h2, h3, h4, h5, h6 {
                        margin-bottom: 10px;
                    }
                }
            }

            ul, ol {

                li {
                    padding-left: 30px;

                    &:before {
                        left: 0;
                    }

                    p, span {
                        margin-bottom: 0;
                    }
                }
            }

            blockquote {
                display: block;
                margin-bottom: 30px;

                @media (max-width: 767px) {
                    margin-top: 0px;
                }
            }

            .hs-responsive-embed {
                position: relative;
                overflow: hidden;
                padding-top: 56.25%;

                .hs-responsive-embed-iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0;
                }
            }

            iframe, video {
                max-width: 100%;
            }

            h1, h2, h3, h4, h5, h6 {
                line-height: 1;
            }
        }

    }

    .case-studies-single-more-posts {
        margin: 60px 0 80px;

        @media (max-width: 767px) {
            margin: 20px 0 30px;
        }

        .h3, .h2 {
            margin-bottom: 35px;

            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }

        .posts-listing {
            justify-content: space-between;

            @media (max-width: 767px) {
                display: block;
            }

            .item-wrapper {
                width: calc(33.33% - 13px);
                padding-left: 0;
                padding-right: 0;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}