.core18-blog {

	.blog-subscribe-bar {
		background: hubl("$light_color");
		padding: 40px 0;

		@media (max-width: 767px) {
			padding: 15px 0;
		}

		.container {
			display: flex;
			align-items: center;
		}

		&__blog-name {
			width: 50%;
			text-align: left;

			h1 {
				line-height: 1;
			}

			a {
				color: inherit;

				&:hover {
					color: hubl("$first_color");
				}
			}
		}

		&__subscribe {
			position: relative;			
			width: 50%;
			text-align: right;

			.cta_button {
				margin-top: 0;
				margin-bottom: 0;

				@media (max-width: 767px) {
					min-width: 115px;
				}
			}

			.subscribe-tooltip-wrapper {
				display: none;
				position: absolute;
				margin-top: 5px;
				right: -35px;
				top: 100%;
				background: #f0f0f0;
				width: 410px;
				border-radius: 7px;
  				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  				z-index: 1;
  				text-align: left;

  				@media (max-width: 1200px) {
  					right: 0;
  				}

  				@media (max-width: 580px) {
  					width: calc(100vw - 40px);
				}

  				.subscribe-tooltip-triangle {
					position: absolute;
					content: "";
					display: block;
					top: -10px;
					right: 100px;
					width: 50px;
					height: 50px;
					transform: rotate(45deg);
					background: #f0f0f0;
					box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
					z-index: 1;
					border-radius: 5px;

					@media (max-width: 1200px) {
  						right: 65px;
  					}

  					@media (max-width: 767px) {
  						right: 32px;
  					}
				}

				.subscribe-tooltip {
					position: relative;
					padding: 20px;
					padding-bottom: 10px;
					background: #f0f0f0;
					z-index: 2;
					border-radius: 7px;

					.submitted-message {
						text-align: center;
					}
				}

				.hs-form-field:not(.hs_email) {
					padding: 0 15px;

					@media (max-width: 580px) {
						padding: 0;
					}
				}

				.hs-form-field {
					margin-top: 0;
					margin-bottom: 10px;

					& > label {
						display: none;
					}

					input:not([type="submit"]) {
						background: #fff;
						border-radius: 7px;
					}
				}

				.hs_email {
					input[type=email] {
						padding-right: 115px;
					}

					.hs-error-msgs {
						padding: 0 15px;

						@media (max-width: 580px) {
							padding: 0;
						}
					}
				}

				.hs-richtext {
					padding: 0 15px;

					@media (max-width: 580px) {
						padding: 0;
					}

					p, span {
						font-size: rem(12);
						color: #78909c;
						line-height: normal;
					}

					p {
						margin-bottom: 10px;
					}
				}

				ul.inputs-list:not(.hs-error-msgs) {
					max-width: 300px;

					li {
						font-size: rem(14);
						line-height: normal;
						color: #78909c;

						input[type="checkbox"] + span {

							&:before, &:after {
								top: 50%;
								transform: translateY(-50%);
							}

							&:before {
								background-color: #fff;
							}
						}
					}
				}

				.hs_submit {
					position: absolute;
					top: 20px;
					right: 20px;

					input[type="submit"] {
						margin-top: 0;
						margin-bottom: 0;
						border-top-left-radius: 0;
						border-top-right-radius: 7px;
						border-bottom-right-radius: 7px;
						border-bottom-left-radius: 0;
						padding: 10px 20px;
						line-height: 22px;
						min-width: 0;
					}
				}


				.hs_error_rollup { 
					display: none;
				}
			}
		}
	}

	// BLOG LISTING
	.blog-feed {
		padding: 90px 20px 20px;

		.container {
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: relative;
			min-height: 100vh;
			max-width: 1120px;
			padding: 0;

			&[style^="height"] {
				min-height: 0;
			}
		}

		&__box {
			position: absolute;
			width: 33.33%;
			height: 360px;
			padding: 10px;
			background-color: transparent;

			.box-inner-wrapper {
				border-radius: 4px;
  				border: solid 1px;
  				border-color: inherit;
				height: 100%;
				overflow: hidden;
				transition: all .3s linear;
				background-color: transparent;

				& > a {
					display: block;
				}

				&:hover {
					box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
				}
			}

			.featured-image {
				width: 100%;
				height: 185px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius-top-left: 4px;
				border-radius-top-right: 4px;

				img {
					display: none;
				}
			}

			.box-content-wrapper {
				padding: 10px 20px 12px;
				height: 155px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				overflow: hidden;

				.post-title {

					a {
						color: inherit;
					}

					h2, .h5 {
						line-height: 1.19;
						color: #000;

						@media (max-width: 1160px) {
							font-size: rem(20);
						}
					}

				}

				.post-credits {
					font-family: $font_body;
					color: inherit;

					p, small {
						margin-bottom: 0;
					}

					a, p, small {
						font-family: inherit;
						color: inherit;
					}

					.topic-link {
						font-weight: bold;
					}
				}
			}

			&--big {
				width: 66.66%;
				height: 720px;

				.featured-image {
					height: 380px;
				}

				.box-content-wrapper {
					height: 320px;

					.post-title {

						h2 {
							@media (max-width: 1160px) {
								font-size: rem(32);
							}
						}
					}
				}
			}

			&--small {
				height: 100px;

				.box-content-wrapper {
					height: 100%;
				}

				h2, .h5 {
					font-size: rem(17);
				}
			}
		}

		&__topic {
			margin-bottom: 20px;
			border-radius: 4px;
			transition: all .3s linear;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {
				box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
			}

			.text-wrapper {
				padding: 12px 20px;
				height: 100%;
				display: flex;
				align-items: center;

				p {
					color: #fff;
					font-size: rem(17);
					margin-bottom: 0;
					line-height: 1.41;
					font-weight: normal;

					@media (max-width: 1160px) {
						font-size: rem(14);
					}
				}

				p.topic-title{
					line-height: 1.59;
					font-weight: bold;
				}
			}
		}

		&__post {
			height: 120px;

			&:last-of-type {
				margin-bottom: 0;
			}

			.box-content-wrapper {
				height: 100%;

				.post-title {

					h2, .h5 {
						@media (max-width: 1160px) {
							font-size: rem(15);
						}
					}
				}
			}

			.featured-image {
				display: none;
			}

			.box-content-wrapper {

				.post-title h2, .post-credits small {
					margin-bottom: 0;
				}

				.post-title h2 {
					font-weight: bold;

					@media (max-width: 1160px) {
					}
				}

				.post-credits small {
					@media (max-width: 1160px) {
						font-size: rem(12);
					}
				}
			}

		&[class*="topic-style-"] {
			
			.box-content-wrapper {

				.post-title {

					h2 {
						color: inherit;
					}
				}
			}
		}
		}

		#box-1 {
			order: 1;
			top: 0;
			left: 0;
			padding-left: 0;

			@media (max-width: 991px) {
				order: 2;
			}
		}

		#box-2 {
			order: 2;
			top: 0;
			left: 66.66%;
			padding-right: 0;

			.box-inner-wrapper {
				border: none;
				overflow: visible;

				&:hover {
					box-shadow: none;
				}
			}

			@media (max-width: 991px) {
				order: 1;
			}
		}

		#box-3 {
			order: 3;
			top: 360px;
			left: 66.66%;
			padding-right: 0;
		}

		#box-4 {
			order: 4;
			top: 720px;
			left: 0;
			padding-left: 0;
		}

		#box-5 {
			order: 5;
			top: 720px;
			left: 33.33%;
		}

		#box-6 {
			order: 6;
			top: 720px;
			left: 66.66%;
			padding-right: 0;
		}

		#box-7 {
			order: 7;
			top: 1080px;
			left: 0;
			padding-left: 0;
		}

		#box-8 {
			order: 8;
			top: 1080px;
			left: 33.33%;
			padding-right: 0;
		}

		#box-9 {
			order: 9;
			top: 1440px;
			left: 0;
			padding-left: 0;
		}

		#box-10 {
			order: 10;
			top: 1560px;
			left: 0;
			padding-left: 0;
		}

		#box-11 {
			order: 11;
			top: 1680px;
			left: 0;
			padding-left: 0;
		}

		
	}

	.case-studies {

		.pagination {

			margin-bottom: 125px;
		}
	}
}

@media (max-width: 991px) {
	.core18-blog {

		.blog-feed {
			padding-bottom: 0;

			.container {
				height: auto !important;
			}

			&__topics-wrapper {
				position: relative;
				height: auto;
				width: 100%;
				padding: 0 0 20px;

				.box-inner-wrapper {
					display: flex;
				    justify-content: space-between;
				}
			}

			&__topic {
				width: calc(33.33% - 10px);
				height: 100%;
				margin-bottom: 20px;

				&:last-of-type {
					margin-bottom: 20px;
				}
			}

			&__box:not(.blog-feed__topics-wrapper), &__box--big {
				position: relative;
			    height: auto;
			    padding: 0;
			    width: calc(50% - 10px);
			    margin-bottom: 20px;

			    .featured-image {
			    	display: block;
					height: 240px;
				}

				.box-content-wrapper {
					height: calc(100% - 240px);
					min-height: 150px;

					.post-title {

						h2, .h5 {
							color: #000;
							font-size: rem(24);
						}
					}

					.post-credits {

						small {
							font-size: rem(14);
						}
					}
				}
			}

			#box-1, #box-2, #box-3, #box-4, #box-5, #box-6, #box-7, #box-8, #box-9, #box-10, #box-11 {
				top: auto;
				left: auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.core18-blog {

		.blog-feed {
			padding-top: 40px;

			.container {
				display: block;
			}

			&__topics-wrapper {
				position: relative;
				height: auto;
				width: 100%;
				padding: 0;

				.box-inner-wrapper {
					display: block;
				}
			}

			&__topic {
				width: 100%;
			}

			&__box:not(.blog-feed__topics-wrapper), &__box--big {
			    width: 100%;

			    .featured-image {
					height: 240px;
				}

				.box-content-wrapper {
					height: auto;
					min-height: 0;

					.post-title {

						h2, .h5 {
							font-size: rem(20);
							margin-bottom: 20px;
						}
					}

					.post-credits {

						small {
							font-size: rem(12);
						}
					}
				}
			}
		}

		.case-studies {

			.pagination {
				margin-top: 0;
				margin-bottom: 50px;
			}
		}
	}
}

@media (max-width: 480px) {
	.core18-blog {

		.blog-feed {

			&__box:not(.blog-feed__topics-wrapper), &__box--big {

			    .featured-image {
					height: 150px;
				}

				.box-content-wrapper {

					.post-title {

						h2, .h5 {
							font-size: rem(18);
						}
					}
				}
			}

		}
	}
}

// BLOG SINGLE

.core18-blog {

	.blog-single {
		margin-top: 80px;
		border-bottom: 2px solid #c7c5bd;

		@media (max-width: 1300px) {
			margin-top: 40px;
		}

		@media (max-width: 767px) {
			margin-top: 0px;
		}

		.back-to-overview-button {
			display: block;
			margin-bottom: 25px;
			font-size: rem(17);
			font-weight: bold;
			transition: all .3s linear;

			&:hover {
				color: #c7c5bd;
			}

			@media (max-width: 767px) {
				font-size: rem(15);
				margin-bottom: 20px;
			}
		}

		.post-featured-image {

			img {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.post-top-section {

			@media (max-width: 1160px) {
				width: 100%;
				max-width: 930px;
				padding-left: 95px;
			    margin-left: auto;
			}

			@media (max-width: 1075px) {
				max-width: none;
				padding-left: 80px;
			}

			@media (max-width: 767px) {
				padding-left: 0;
			}

			&__credits, &__title {
				float: left;
			}

			&__credits {
				width: 25%;
				margin-top: 20px;

				@media (max-width: 1160px) {
					width: 100%;
				}

				.post-author {
					display: flex;
					align-items: center;

					&__avatar {

						img {
							max-width: 57px;
							margin-right: 18px;
						}
					}

					&__details {

						.small {
							line-height: 1.43;
						}

						h2 {
							font-family: $font_body;
							font-weight: normal;
						}

						p {
							margin-bottom: 0;
							color: #7f7f74;
						}
					}
				}

			}

			&__title {
				width: 75%;

				@media (max-width: 1160px) {
					width: 100%;
				}

				@media (max-width: 1075px) {
					padding-left: 0;
				}
			}
		}

		.case-studies-single {
			border-bottom: 0;
			.social-share {

				ul {
					top: 0;
				}
			}

			.post-body {
				margin-top: 30px;
				margin-bottom: 60px;

				@media (max-width: 767px) {
					margin-bottom: 10px;
				}
			}
		}
	
	}

	.blog-single-related-posts {
		margin: 60px 0 80px;

		@media (max-width: 767px) {
			margin: 20px 0 30px;
		}

		h3, .h3 {
			display: inline-block;
			margin-bottom: 35px;

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
		}

		.blog-feed {
			padding: 0;
			display: flex;
			justify-content: space-between;

			@media (max-width: 767px) {
				display: block;
			}

			&__box {
				position: relative;
				width: calc(33.33% - 13px);
				padding: 0;
				margin-bottom: 20px;

				@media (max-width: 767px) {
					width: 100%;
				}

				.featured-image {

					@media (max-width: 991px) {
						height: 185px;
					}
				}

				.box-content-wrapper {
					height: calc(100% - 185px);

					.post-title {
						h2, .h5 {
							@media (max-width: 991px) {
								font-size: rem(20);
							}
						}
					}
				}
			}
		}
	}
}