.about-person-extended {
	display: flex;
	border-bottom: 2px solid #c7c5bd;
	padding-top: 10px;
	@media(max-width: 767px){
		display: block;
		padding-top: 25px;
		padding-bottom: 25px;
	}
    .avatar-wrapper {
    	width: 170px;
    	margin-right: 25px;
    	margin-bottom: 10px;
        @media (max-width: 767px) {
            width: auto;
        }

        .avatar {
            margin: 0 auto 10px auto;
            width: 140px;
            height: 140px;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
        }
        .info {
            text-align: center;
            h5 {
                font-size: 17px;
            }
            small {}
        }
    }
    .description {
    	font-size: 14px;
    	max-width: 740px;
    	p,span{
    		font-size: inherit;
    		margin-bottom: 10px;
    	}
    }
}