.about-person-simple{
	margin: 0 auto;
	padding: 5px;
	.avatar{
		margin: 0 auto 10px auto;
		width: 140px;
		height: 140px;
		background-size: cover;
		background-position: center center;
		border-radius: 50%;
	}
	.info{
		text-align: center;
		h5{
			font-size: 17px;
		}
		small{

		}
	}
}