.case-studies.content-module {
	padding-top: 50px;

	@media (max-width: 991px) {
		padding-top: 0;
	}

	.case-studies-single {	
		padding-bottom: 50px;

		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
	}

	.social-share-title {
		margin-top: 35px;

		.h5 {
			margin-bottom: 5px;
		}
	}
}