.error-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	&__video {

		.mobile-background {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		video {
			position: absolute;
			transform: translateX(-50%) translateY(-50%);
		    top: 50%;
		    left: 50%;
		    width: 100%;
		    min-height: 100%;
		    object-fit: cover;
		}

		@media (max-width: 420px) {
			.mobile-background {
				display: block;
			}

			video {
				display: none;
			}

		}
	}

	&__content {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
	    top: 50%;
	    left: 50%;
	    color: #fff;
	    width: 100%;

	    @media (max-width: 1300px) {
	    	margin-top: 40px;
	    }

	    > div > div > div {
	    	padding-bottom: 10px;
	    	padding-top: 10px;
	    }

	    h1 {
	    	display: inline-block;
		    background-color: rgba(0, 0, 0, 0.7);
		    padding: 0px 19px 8px 19px;
		    line-height: 1;
		    font-stretch: normal;
		    font-size: 45px;
	    }

	    p {
	    	display: inline-block;
		    margin-bottom: 0px;
		    background-color: rgba(0, 0, 0, 0.7);
		    padding: 8px 19px 8px 19px;
		    font-size: 24px;
	    }

	    .hs_cos_wrapper_type_cta {
	    	display: block;
	    	margin-top: 25px;
	    }
	}
}

body.ff {

	.error-section {

		&__content {

			h1, h2 {
				padding: 8px 19px 0px 19px;
			}
		}
	}
}


body.windows {

	.error-section {

		&__content {

			h1, h2 {
				padding: 8px 19px 8px 19px;
			}
		}
	}
}
// FIXES FOR BROWSERS
body.ms-browser {

	.error-section {

		&__content {

			h1, h2 {
				padding: 8px 19px 0px 19px;
			}
		}
	}
}