.event {
	margin-bottom: 10px;

	&__header {
		width: 100%;
		margin-bottom: 3px;

		@media (max-width: 767px) {
			margin-bottom: 6px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		border-top: 1px solid #c7c5bd;
		padding: 20px 0 10px;

		@media (max-width: 991px) {
			flex-wrap: wrap;
			justify-content: start;
		}

		.event-date-column {
			width: 100%;
			max-width: 80px;
			order: 2;

			@media (max-width: 767px) {
				display: none;
			}

			.event-date {
				text-align: center;
				width: 76px;
				background-color: #c7c5bd;

				&__month {
					text-transform: uppercase;
					width: 100%;
					color: #fff;
					font-size: rem(24);
					line-height: rem(42);
					font-weight: 500;
				}

				&__day {
					width: 100%;
					color: #000;
					background-color: rgba(255, 255, 255, 0.5);
					font-size: rem(40);
					line-height: rem(53);
					font-weight: bold;
				}

				&__year {
					width: 100%;
					color: #fff;
					font-size: rem(18);
					line-height: rem(32);
					font-weight: 500;
				}
			}
		}

		.event-details-column {
			width: 100%;
			max-width: 760px;
			order: 3;

			.event-details {

				&__row {
					width: 100%;
					display: flex;
					align-items: start;
					flex-wrap: nowrap;
					margin-bottom: 10px;

					.title {
						display: inline-block;
						min-width: 100px;
						width: 25%;
						text-align: right;
						padding: 0 10px;
						font-size: rem(14);
						line-height: rem(24);
						font-weight: bold;
					}

					.info {
						width: 75%;
						padding: 0 10px;
						font-size: rem(17);
						line-height: rem(24);
						font-weight: normal;

						p {
							font-size: inherit;
							line-height: inherit;
							margin-bottom: 0;
						}
					}

					@media (max-width: 767px) {
						display: block;

						.title {
							text-align: left;
							font-size: rem(12);
							line-height: normal;
							padding: 0;
						}

						.info {
							font-size: rem(15);
							line-height: normal;
							padding: 0;
						}
					}
				}
			}

			@media (max-width: 991px) {
				width: calc(100% - 80px);
				max-width: none;
			}

			@media (max-width: 767px) {
				width: 100%;
			}

		}

		.event-logo-column {
			width: 100%;
			max-width: 265px;
			text-align: right;
			order: 4;
			margin-bottom: 10px;

			@media (max-width: 991px) {
				order: 1;
				max-width: none;
				text-align: left;

				img {
					max-width: 265px;
					
					@media (max-width: 400px) {
						max-width: 90%;
					}
				}
			}
		}
	}
}