.feature-section{
	padding: 60px 0px 0px 0px;
	&.simple{
		padding-bottom: 60px;
	}
	&.white{
		background-color: #fff;
		.more-content{
			background-color: hubl("$light_color");
		}
	}
	&.grey{
		background-color:  hubl("$light_color");
		.more-content{
			background-color: #fff;
		}
	}
	.wrap{
		display: flex;
		flex-wrap:wrap;
		margin-bottom: 0px;
		> div{
			width: 50%;
			@media(max-width: 767px){
				width: 100%;
			}
		}
		.content{
			padding-left: 10px;
			@media(max-width: 767px){
					padding-left: 0px;
				}
			h2, h3{
				margin-bottom: 20px;
				line-height: 1.18;
			}

			h2 {
				margin-top: -10px;
				@media(max-width: 767px){
					margin-top: 0px;
				}
			}
			h3 {
				margin-top: -8px;
				@media(max-width: 767px){
					margin-top: 0px;
				}
			}
			p{

			}
		}
		.image{
			padding-right: 10px;
			@media(max-width: 767px){
					padding-right: 0px;
					margin-bottom: 30px;
				}
		}
		&.reverse{
			> div{
				&:first-child{
					order: 2;
					@media(max-width: 767px){
						order:0;
					}
				}
			}
			.content{
				padding-left: 0px;
				padding-right: 10px;
			}
			.image{
				padding-right: 0px;
				padding-left: 10px;
				@media(max-width: 767px){
					padding-left: 0px;
					margin-bottom: 30px;
				}
			}
		}

		.show{
			&:hover{
				background-color: #fff!important;
				color: #000!important;
			}
			&.disabled{
				display: none;
			}
		}
	}

	.more-content{
		max-height: 0px;
		opacity: 0;
		transition: 0.3s all;
		padding: 30px 25px;
		position: relative;
		pointer-events: none;
		&.active{
			margin-top: 20px;
			margin-bottom: 50px;
			opacity: 1;
			max-height: 1000vh;
			pointer-events: all;
		}
		.close{
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			width: 36px;
			height: 36px;
			// background-color: red;
			span{
				width: 36px;
				height: 2px;
				background-color: #000;
				display: block;
				position: relative;
				&:first-child{
					transform:rotate(45deg);
					top: 17px;
				}
				&:last-child{
					transform:rotate(-45deg);
					top: 15px;
				}
			}
		}
		.inner-wrapper{
			// background-color: red;
			padding-right: 10px;
			display: flex;
			justify-content: space-between;
			@media(max-width: 767px){
				display: block;
				padding-right: 20px;
			}
			> div{
				padding: 0px 10px;
				width: 100%;
					@media(max-width: 767px){
					width: 100%;

				}
			}
		}
	}
}