.feature-box {
    text-align: left;
    i {
        color: hubl("$first_color");
        font-size: 35px;
        margin-bottom: 10px;
    }
    h5 {
        margin-bottom: 10px;
        a{
            color:hubl("$font_color");
            &:hover{
                color: hubl("$first_color");
            }
        }
    }
    .description {
        p,
        span {
            // font-size: 17px;
            // font-weight: normal;
            // line-height: 1.6;
        }
    }
}