.case-studies .case-studies-single .post-body > .hs_cos_wrapper > .featured-snippet {
	margin-left: 95px;

	@media (max-width: 1075px) {
		margin-left: 0;
	}
}

.featured-snippet,
.case-studies .case-studies-single .post-body .featured-snippet {
	max-width: 550px;
	background-color: #f4f4f4;
	padding: 30px;
	padding-bottom: 10px;
	margin-top: 25px;
	margin-bottom: 25px;

	@media (max-width: 600px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	h1, h2, h3, h4 {
		display: block;
		position: relative;
		width: 100%;
		background-color: #fff;
		margin-bottom: 30px;
		padding-top: 6px;
		padding-bottom: 7px;
		line-height: 1.5;

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}

		i, svg {
			position: absolute;
			width: 75px;
			text-align: center;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: hubl("$first_color");

			@media (max-width: 600px) {
				display: none;
			}
		}
	}

	> {
		h1, h2, h3, h4, h5, h6, ul, ol, p, span, blockquote, small {
			padding-left: 75px;
			padding-right: 15px;

			@media (max-width: 600px) {
				padding-left: 15px;
			}
		}
	}

	p, ul, ol {
		margin: 20px 0;

		@media (max-width: 767px) {
			margin: 15px 0;
		}
	}

	p, li {
		line-height: 1.5;
	}

	ul, ol {

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}

			&:before {
				left: 0;
				font-weight: bold;
			}

			p, span {
				margin: 0;
			}
		}
	}

	ul {
		li {
			&:before {
				content: "";
			    position: absolute;
			    left: 5px;
			    width: 5px;
			    height: 5px;
			    background-color: #000;
			    -webkit-border-radius: 50%;
			    -moz-border-radius: 50%;
			    border-radius: 50%;
			    top: 11px;
			}			
		}
	}	
}