.core-top-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	background-color: #000;
	z-index: 9999;
	transition: all .3s ease-in-out;

	@media (max-width: 767px) {
		height: 80px;
	}

&.mobile.scroll {
	top: -100px;
}

	p, li, a {
		color: #fff;
		margin: 0;
	}

	.container {
		max-width: 2010px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		height: 100%;
		padding-right: 100px;
		padding-left: 100px;

		@media (max-width: 2010px) {
			max-width: 1850px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__logo {
		margin-right: 5px;
		min-width: 61px;

		@media (max-width: 767px) {
			margin-right: 16px;
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		z-index: 1;

		@media (max-width: 767px) {
			padding-right: 70px;
		}

		@media (max-width: 380px) {
			flex-wrap: wrap;
		}
	}

		&__nav-header, &__nav-links {
			margin: 3px 0;
		}

		&__nav-header {
			width: 100%;

			@media (max-width: 767px) {
			}

			p {
				font-size: rem(16);
				line-height: 1.3;
			}
		}

		&__nav-links {
			position: relative;
			z-index: 1;
			text-align: right;

			@media (max-width: 2010px) {
				position: absolute;
				right: 100px;
				top: 50%;
				transform: translateY(-50%);
			}

			@media (max-width: 767px) {
				position: relative;
				right: auto;
				top: auto;
				transform: translateY(0);
			}

			.hs-menu-wrapper {
				ul {
					margin: 0;
					line-height: 1;
					font-size: rem(12);

					@media (max-width: 767px) {
						vertical-align: middle;
					}

					li.hs-menu-item {
						font-size: rem(12);
						line-height: 1;
						margin-right: 25px;
						margin-top: 3px;
						margin-bottom: 3px;

						@media (max-width: 767px) {
							margin-right: 0;
						}

						@media (max-width: 568px) {
							float: left;
							display: block;
						}

						@media (max-width: 380px) {
							margin-top: 0;
							margin-bottom: 0;
						}

						&:last-of-type {
							margin-right: 0;

							@media (max-width: 380px) {
								display: none;
							}
						}

						a {
							font-family: Arial;
							font-weight: bold;
							line-height: normal;
							padding: 0;

							&:after {
								display: inline-block;
								font-family: "Font Awesome\ 5 Free";
								content: '\f054';
								margin-left: 5px;
								transform: scaleX(0.6);
							}

							&:hover {
								text-decoration: underline;

								&:after {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}

	&__motion-band {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 84px;

		span {
			background-color: #f0ab00;
			display: block;
			width: 28px;
			height: 100%;
			float: left;

			&:nth-of-type(1) {
				opacity: .4;
			}

			&:nth-of-type(2) {
				opacity: .7;
			}

			&:nth-of-type(3) {
				opacity: 1;
			}
		}
	}
}