.hero-banner {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    z-index: 1;
    @media(max-width: 767px){
        min-height: 450px;
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: transparent;
    }
    .content {
        position: relative;
        z-index: 3;
        max-width: 1120px;
        width: 100%;
        margin: 0 15px;
        h1,
        h2 {
            display: inline-block;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 0px 19px 8px 19px;
            line-height: 1;
            font-stretch: normal;
            font-size: 45px;
            @media(max-width: 767px){
                font-size: 32px;
            }
        }
        .desc {
            padding-top: 10px;
            p {
                color: #fff;
                display: inline-block;
                margin-bottom: 0px;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 8px 19px 8px 19px;
                font-size: 24px;

                @media(max-width: 767px){
                    font-size: 18px;
                }
            }
        }
        .cta-wrapper{
            margin-top: 10px;
        }
    }
}
// FIXES FOR OS
body.windows{
    .hero-banner .content {
        h1,
        h2 {
            padding: 8px 19px 8px 19px;
        }
    }
}
// FIXES FOR BROWSERS
body.ms-browser{
    .hero-banner {
            height: 450px;
        
        .content {
            h1,
            h2 {
                padding: 8px 19px 0px 19px;
            }
        }
    }
}
body.ff{
    .hero-banner {
        .content {
            h1,
            h2 {
                padding: 8px 19px 0px 19px;
            }
            p{
                @media(max-width: 767px){
                    line-height: .8;
                }
            }
        }  
    }
}