.hero-banner-quotes-db{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    z-index: 1;
    padding: 0 15px;
    @media(max-width: 767px){
        min-height: 250px;
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: transparent;
    }
    .quotes-wrapper{
    	position: relative;
    	z-index: 3;
    	background-color: rgba(255,255,255, 0.7);
    	max-width: 740px;
    	width: 100%;
    	margin: 50px 0 50px;
    	padding: 20px 35px;
    	text-align: center;
    	blockquote{
    		font-size: 20px;
    		line-height: 26px;
    		&:before,&:after{
				color: #183e74;
    		}
    		&:before {
			    position: static;
			    display: inline-block;
			    font-size: inherit;
			    line-height: inherit;
			    height: auto;
			    transform: scale(4) translate(7px, 4px);
			    padding-right: 20px;
			    @media (max-width: 1300px){
			    	margin-bottom: 	0px;
			    }
			}
    	}
    }
}

// FIXES FOR BROWSERS
body.ms-browser{
    .hero-banner-quotes-db {
         height: 300px;
    }
}
