.hero-banner-simple{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    z-index: 1;
    @media(max-width: 767px){
        min-height: 250px;
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: transparent;
    }
}

// FIXES FOR BROWSERS
body.ms-browser{
    .hero-banner-simple {
         height: 300px;
    }
}
