.kpi-box {
    width: 360px;
    height: 220px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    @media(max-width: 1200px){
		height: auto;
    }
    @media(max-width: 400px){
		width: 90%;
    }
    &:hover {

        .inner {
            top: -90px;
            height: 310px;
            @media(max-width: 1200px){
				
            	height: auto;
            }
            .visible {
	           margin-bottom: 0px;
	        }
	        .description {
	            opacity: 1;
	        }
   
        }
    }
    .inner {
        transition: 0.3s top; 
        position: absolute;
        top: 0px;
        text-align: center;
        height: 220px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media(max-width: 1200px){
        	position: static;
			height: auto;
		}
        .visible {
			margin-bottom: 40px;
			@media(max-width: 1200px){
				margin-bottom: 0px;
			}
            .count {
                font-size: 70px;
                font-weight: bold;
                margin-top: 25px;
                font-family: $font;
            }
            h3 {

                margin-bottom: 0px;
            }
        }

        .description {
            width: 100%;
            padding: 0 15px;
            opacity: 0;
            transition: 0.3s opacity; 
            @media(max-width: 1200px){
            	opacity: 1;
            }
        }
    }
}