.reference-quote {
    padding: 95px 0px;
    display: flex;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    @media(max-width: 767px){
			padding: 50px 0px;
		}
    @media(max-width: 1300px) {
        display: block;
    }
    .avatar {
        margin-top: 25px;
        min-width: 135px;
        width: 135px;
        border-radius: 50%;
        height: 135px;
        background-size: cover;
        background-position: center center;
        @media(max-width: 1300px) {
            margin: 0 auto;
        }
    }
    .wrapper {
        margin-left: 82px;
        @media(max-width: 1300px) {
            margin-left: 0px;
        }

        blockquote {
            margin-bottom: 15px;
        }
        .author-name {
            font-size: 14px;
            line-height: 1.43;
            opacity: 0.5;
            display: block;
            @media(max-width: 767px) {
                margin-top: 30px;
            }
        }
        .company-logo img {
            margin-top: 5px;
        }
    }
}