.single-person {
	text-align: center;
	margin: 0 15px;
    .avatar {
    	display: block;
    	margin: 0 auto 5px auto;
        width: 185px;
        height: 185px;
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
    }
    @media(max-width: 680px){
        margin:  0px;
    }
}