.single-industries {
	text-align: center;
	margin: 0 15px;
    .icon {
    	display: block;
    	margin: 0 auto;
    	text-align: center;
    	img{
    		margin: 0 auto;    	
    	}
    }
    a{
    	margin-top: 20px;
    	font-size: 17px;
  font-weight: bold;
    }
}