.video-slide{
	transition: .3s all;
	@media(max-width: 1170px){
		padding:  15px;
	}
	@media(max-width: 767px){
		padding:  0px;
	}
	iframe,video{
		margin: 0 auto!important;
	}
}

.video-desc-slider{
	// height: 300px;
	// width: 100%;
	.description{
		div{
			max-width: 720px;
			margin: 0 auto;
			text-align: center;
		}

	}
}