.white-papers-wrapper{

	// SELECT SCTION

	.filters{
		margin: 50px 0px;
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		>div{
			width: 49%;
			position: relative;
			max-width: 550px;	
			@media(max-width: 600px){
				width: 100%;
				margin-bottom: 15px;
			}
		}
		h5{
			margin-bottom: 5px;
		}
	}
	.customer-quote-db{
				display: block!important;
				width: 100%!important;
				// background: red;
				blockquote{
					max-width: 820px;
					margin: 60px auto;
					transform: translateX(50px);
					@media(max-width: 1300px){
						transform: translateX(0px);
					}
				}
			}
	// FEED SECTION
	.white-paper-db{
		display: flex;
		flex-wrap: wrap;
		> div{
			width: 25%;
			padding: 10px;
			display: none;
			animation-delay:.5s;
			animation: fadeOut 1s;
			@media(max-width: 1024px){
				width: 33.333%;
			}
			@media(max-width: 767px){
				width: 50%;
			}
			@media(max-width: 480px){
				width: 100%;
			}
			&.active{
				display: block;
				animation-delay:.5s;
				animation: fadeIn 1s;
				
			}

			.white-paper-item{
				img{
					margin: 0 auto;
					display: block;
				}
				a {
					font-family: $font_body;
					color: #000;
					font-size: 17px;
					line-height: 27px;
					font-weight: 500;

					&:hover {
						color: hubl("$first_color");
					}
				}
				h4{
					font-family: $font_body;
					margin-top: 10px;
					font-size: 17px;
					line-height: 27px;
					font-weight: 500;
				}
			}
		}
		h4.no-results{
			margin-bottom: 70px;
		}
	}



	// do testow
	.desc-small{
		background-color: #f7f7f7;
		padding: 10px;
		display: block;
		font-size: 12px;
		margin: 0px;
		margin-top: 10px;
		strong{
			display: block;
		}
	}

}

 
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 0; }
      to { opacity: 1; }
}